Repository xopt-org/Xopt: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pytest, pytest-cov

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3
  args:
  - --max-line-length=88

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: pytest --cov --cov-fail-under=70
  pass_filenames: false

EOF newline
  .gitignore
Due: none

Drop pytest
  .pre-commit-config.yaml
Due: none

Drop mention of tests
  README.md
Due: none

remove unused Evaluator._n_submitted
  xopt/evaluator.py
Due: flake8, pytest, pytest-cov

Add ipynb exclusion to pre commit
  .pre-commit-config.yaml
Due: none

Drop executor type
  executor_examples.py
Due: pytest, pytest-cov

Add contextual dask
  executor_examples.py
Due: pytest, pytest-cov

Remove check
  executor_examples.py
Due: pytest, pytest-cov

Check in executor examples
  executor_examples.py
Due: pytest, pytest-cov

Enforce latest pydantic
  environment.yml
  requirements.txt
Due: none

Check in pinned pydantic
  requirements.txt
Due: none

Drop examples py file
  executor_examples.py
Due: pytest, pytest-cov

Check in executors notebook
  examples/basic/executors.ipynb
Due: none

Fix env file
  environment.yml
Due: none

Fix requirements formatting
  requirements.txt
Due: none

Move notebook
  examples/developer/executors.ipynb
Due: none

Fix for mkdocstrings thanks to @hhslepicka
  docs-requirements.txt
Due: none

Check in corrected sig handling
  examples/basic/executors.ipynb
Due: none

Move executor notebook to designated developer dir
  developer/executors.ipynb
Due: none

Add handling of all kwargs
  developer/executors.ipynb
Due: none

Path conditions:
  flake8: any of: ^xopt and \.py$
  pytest: any of: \.py$
  pytest-cov: any of: \.py$
